/*welcome page design*/

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.menu nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 2.5rem;
}

.menu a {
    color: #deb887;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  margin: 5rem;
  font-size: 1.5rem;
}


.menu a:hover {
  color: #deb887;
}

.menu p {
  text-decoration: none;
  color: #deb887;
  padding: 1rem;
  font-size: 3rem;
}

.menu ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  
}

.menu li {
  list-style-type: none;
  display: inline-block;
}

.welcome h1 {
  color: #deb887;
}

/* footer info*/

.info {
  text-align: center;
  margin: 0;
  padding: 20px;
  top: 0;
  border-width: 10px 20px;
  background-color: #deb887;
}

.info p {
  font-size: 1rem;
}

  