body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.menu nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 2.5rem;
  margin-top: -3rem;
  margin-bottom: -10rem;
}

.menu a {
    color: #deb887;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  margin: 5rem;
  font-size: 1.5rem;
}

.menu a:hover {
  color: #deb887;
}

.menu p {
  text-decoration: none;
  color: #deb887;
  padding: 1rem;
  font-size: 3rem;
}

.menu ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  
}

.menu li {
  list-style-type: none;
  display: inline-block;
}

.dropbtn {
  background-color: #deb887;
  color: white;
  padding: 30px;
  font-size: 30px;
  border: none;
  margin: 25px 50px 75px 100px;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .dropbtn {
  background-color: #FFA07A;
}

.stores2 li {
  list-style-type: none;
  margin: 0;
}


.stores2 h1 {
  text-align: center;
}


/* .info {
  text-align: center;
  margin: 0;
  padding: 8px;
  top: 0;
  border-width: 10px 20px;
  background-color: #DEB887;
  background-color: #deb887;
}

.info p {
  font-size: 1rem;
} */