body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dropbtn {
  background-color: #deb887;
  color: white;
  padding: 30px;
  font-size: 30px;
  border: none;
  margin: 25px 50px 75px 100px;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .dropbtn {
  background-color: #FFA07A;


.stores2 li {
  list-style-type: none;
  margin: 0;
}


.stores2 h1 {
  text-align: center;
}


.info {
  text-align: center;
  margin: 0;
  padding: 20px;
  top: 0;
  border-width: 10px 20px;
  background-color: #deb887;
}

.info p {
  font-size: 1rem;
}

