body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.menu nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 2.5rem;
  margin-top: -3rem;
  margin-bottom: -10rem;
}

.menu a {
  color: #deb887;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  margin: 5rem;
  font-size: 1.5rem;
}

.menu a:hover {
  color: #deb887;
}

.menu p {
  text-decoration: none;
  color: #deb887;
  padding: 1rem;
  font-size: 3rem;
}

.menu ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style-type: none;
  display: inline-block;
}

.bckgrnd {
  background-image: linear-gradient(
      rgba(234, 241, 241, 0.719),
      rgba(39, 39, 38, 0.5)
    ),
    url(MainBraid.jpg);
  background-size: cover;
  background-position: center;
  height: 110vh;
}

.opening {
  line-height: 3rem;
}

.opening p {
  line-height: 6rem;
  font-size: 7.5rem;
  padding-top: 15%;
  padding-left: 78%;
}

.options {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2px 10px;
}

.options p {
  text-align: center;
  font-size: 1.2rem;
}

.options h3 {
  text-align: center;
  font-size: 1.7rem;
}

.options h3 > a {
  color: #deb887;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 7rem;
  margin-bottom: 3rem;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #deb887;
}

.options > div.card:hover > h3 > a {
  color: black;
}

.welcome {
  text-align: center;
  justify-content: center;
  margin: 9rem;
  font-size: 1.5rem;
}

.welcome h1 {
  font-size: 5rem;
  color: #deb887;
}

.welcome h2 {
  font-size: 3rem;
  margin-top: -2rem;
}

.inquiry h3 {
  font-size: 2rem;
  text-align: center;
  color: #deb887;
  font-weight: bold;
}

.inquiry p {
  font-size: 2rem;
  text-align: center;
}

.stytitle {
  text-align: center;
  padding-top: 12rem;
  font-size: 2rem;
}

.dropdowncontainer body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dropbtn {
  background-color: #deb887;
  color: #ffffff;
  padding: 10px;
  font-size: 30px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffa07a;
}

.dropdowncontainer {
  display: flex;
  justify-content: space-around;
  margin-top: 160px;
}

section,
div.image-1 {
  height: 81.5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section,
div.image-2 {
  height: 81.5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section,
div.image-3 {
  height: 81.5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.image-1 {
  background-image: linear-gradient(
      rgba(155, 155, 165, 0.5),
      rgba(39, 39, 38, 0.5)
    ),
    url(stores.png);
}

.image-2 {
  background-image: linear-gradient(
      rgba(155, 155, 165, 0.5),
      rgba(39, 39, 38, 0.5)
    ),
    url(stylisttt.jpg);
}

.image-3 {
  background-image: linear-gradient(
      rgba(223, 183, 209, 0.5),
      rgba(39, 39, 38, 0.5)
    ),
    url(stylistimg.jpg);
}

.info {
  text-align: center;
  margin: 0;
  padding: 8px;
  top: 0;
  border-width: 10px 20px;
  background-color: #deb887;
  background-color: #deb887;
}

.info p {
  font-size: 1rem;
}
